.algovis {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .btn-overrides {
    padding: 3px !important;
  }

  .halfScreen {
    width: 50%;
    padding-right: 2px;
    padding-left: 1px;
  }

  .var-box {
    padding: 3px;
  }

  .var-name {
    vertical-align: middle;
    padding-right: 5px;        
    font: 21px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace
  }

  .var-value {
    display: table-cell;
    text-align: center;
    vertical-align: middle;    
    border: 1px solid;
    font: 21px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace
  }

  .myMarker {
    position: absolute;
    background: #0d6dfd3e;
    z-index: 20
  }

  .blink {
    animation: blinker 0.2s linear 3;
  }

  @keyframes blinker {
    0% {
      color: rgb(207, 74, 74);
    }

    50% {
      opacity: 0;
      color: rgb(207, 74, 74);
    }

    100% {
      color: black;
    }
  }
  * {
      border-radius: 1px !important;
  }